
header h1{
    margin: 2%;
    font-family: 'Gloria Hallelujah', cursive;
}

.picSection{
    float: left;
    height: 250px;
    width: 250px;
    margin-left: 8%;
    margin-bottom: 250px;
    left: 30%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}



section img{
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
}

section p {
    overflow: auto;
}

footer{
    position: relative;
}